server {
	listen {{ nginx_port}};
	listen [::]:{{ nginx_port}};
	root {{ nginx_default_root }};

	index index.html index.htm;

	server_name {{ inventory_hostname }};

	include {{ nginx_config_dir }}/locations.conf;

	location / {
		try_files $uri $uri/ =404;
	}
}
