- name: Check if docker package needs an update
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: yes
  register: docker_update
  check_mode: yes

- name: Update docker package if update is needed
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: yes
  when: docker_update.changed

- name: Wait between updates
  pause:
    minutes: 1
  when: docker_update.changed
