- name: Get primary network interface
  ansible.builtin.set_fact:
    default_interface: "{{ ansible_facts.default_ipv4.interface }}"

- name: Get Netplan files as YAML
  block:
    - name: List files in /etc/netplan
      find:
        paths: /etc/netplan
        patterns: "*.yaml"
      register: netplan_files

    - name: Load YAML content of each Netplan file
      slurp:
        src: "{{ item.path }}"
      loop: "{{ netplan_files.files }}"
      register: netplan_file_contents

    - name: Parse YAML content into variables
      ansible.builtin.set_fact:
        parsed_netplan: >-
          {{
            parsed_netplan | default({}) |
            combine({ item.item.path: (item.content | b64decode | from_yaml) })
          }}
      loop: "{{ netplan_file_contents.results }}"

- name: Check if primary network interface has wakeOnLan disabled
  block:
  - name: Find the first file containing primary_interface
    ansible.builtin.set_fact:
      netplan_file_with_interface: "{{ item.key }}"
    with_dict: "{{ parsed_netplan }}"
    when:
      - item.value.network.ethernets is defined
      - item.value.network.ethernets[primary_interface] is defined

  - name: Check if wakeonlan is already set
    ansible.builtin.set_fact:
      wakeonlan_defined: >-
        {{
          parsed_netplan[netplan_file_with_interface]
          .network.ethernets[primary_interface]
          .get("wakeonlan", false) == true
        }}

- name: Enable wakeOnLan on primary network interface
  when: not wakeonlan_defined
  block:
    - name: Update parsed netplan data with wakeonlan
      ansible.builtin.set_fact:
        updated_netplan: >-
          {{
            parsed_netplan | combine({
              netplan_file_with_interface: parsed_netplan[netplan_file_with_interface] | combine({
                "network": parsed_netplan[netplan_file_with_interface].network | combine({
                  "ethernets": parsed_netplan[netplan_file_with_interface].network.ethernets | combine({
                    primary_interface: parsed_netplan[netplan_file_with_interface].network.ethernets[primary_interface] | combine({
                      "wakeonlan": true
                    })
                  })
                })
              })
            })
          }}

    - name: Save the updated netplan file with beautified YAML
      copy:
        dest: "{{ netplan_file_with_interface }}"
        content: "{{ updated_netplan[netplan_file_with_interface] | to_nice_yaml }}"
