- name: Update package index
  ansible.builtin.package:
    update_cache: true
  become: true

- name: Install common packages on Debian, Ubuntu
  ansible.builtin.package:
    name:
      - htop
      - net-tools
      - netcat-openbsd
      - iputils-ping
      - curl
    state: present
  become: true
  when: ansible_os_family == 'Debian'

- name: Install common packages on Red Hat
  ansible.builtin.package:
    name:
      - htop
      - net-tools
      - nc
      - iputils
      - curl
    state: present
  become: true
  when: ansible_os_family == 'RedHat'
