- name: Check if reboot is required
  stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Reboot host
  ansible.builtin.reboot:
    reboot_timeout: 600
    test_command: whoami
  when: reboot_required.stat.exists
  become: true
