ansible_user: ansible
ansible_ssh_private_key_file: ~/.ansible_keys/docker_lab
ssh_user_to_remove_key: ansible
ssh_user_to_remove_password: president
sudoers_group: admin
shell_default: /bin/bash
ssh_users_to_create:
  [
      {
          "user": "deployer",
          "comment": "Used to deploy applications",
          "groups":
            [
              "docker"
            ],
          "sudoers": false,
          "key_dir": "~/.ansible_keys",
          "key_name": "docker_lab_deployer",
          "key_type": "ed25519"
      },
      {
          "user": "tristiisch",
          "comment": "User account",
          "groups":
            [
              "admin",
              "docker"
            ],
          "sudoers": true,
          "key_dir": "~/.ansible_keys",
          "key_name": "docker_lab_tristiisch",
          "key_type": "ed25519"
      }
  ]
folder_to_create:
  [
      {
          "path": "/tmp/github_runner_1",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_2",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_3",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_4",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_5",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_6",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_7",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_8",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      },
      {
          "path": "/tmp/github_runner_9",
          "owner": "root",
          "group": "root",
          "mode": "0755"
      }
  ]
