# - name: Uninstall old Docker on Debian/Ubuntu
#   package:
#     name:
#       - docker.io
#       - docker-compose
#       - docker-doc
#       - podman-docker
#     state: absent
#   when: ansible_os_family == 'Debian'

# - name: Uninstall old Docker on RedHat
#   package:
#     name:
#       - docker
#       - docker-client
#       - docker-client-latest
#       - docker-common
#       - docker-latest
#       - docker-latest-logrotate
#       - docker-logrotate
#       - docker-engine
#       - podman
#       - runc
#     state: absent
#   when: ansible_os_family == 'RedHat'

# - raw: sudo rm /etc/apt/keyrings/docker.asc
# - raw: sudo rm /etc/apt/sources.list.d/docker.list
# - raw: sudo apt update

- name: Remove old Docker GPG key
  ansible.builtin.file:
    path: "/etc/apt/keyrings/docker.gpg"
    state: absent

- name: Remove existing Docker repository
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/docker.list"
    state: absent

- name: Install prerequisites for Docker on Debian/Ubuntu
  ansible.builtin.package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release  # Needed on some Debian-based systems
      - wget  # Needed on some distributions
    state: present
  when: ansible_os_family == 'Debian'

- name: Install prerequisites for Docker on RedHat
  ansible.builtin.package:
    name:
      - yum-utils  # Required for yum-config-manager
      - device-mapper-persistent-data
      - lvm2
    state: present
  when: ansible_os_family == 'RedHat'

- name: Add Docker GPG key for Debian/Ubuntu
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
  when: ansible_os_family == 'Debian'

- name: Add Docker repository for Debian/Ubuntu
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    filename: docker
  when: ansible_os_family == 'Debian'

- name: Add Docker GPG key and repository on RedHat
  ansible.builtin.yum_repository:
    name: docker
    description: Docker CE Stable - $basearch
    baseurl: https://download.docker.com/linux/rhel/{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/stable
    gpgkey: https://download.docker.com/linux/rhel/gpg
    gpgcheck: yes
    enabled: yes
  when: ansible_os_family == 'RedHat'

- name: Install Docker
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Start Docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Install Docker Python package
  ansible.builtin.package:
    name: python3-docker
    state: present
