- name: Check if NGinX config backup file exists
  stat:
    path: "{{ nginx_config_dir }}/nginx.backup.conf"
  register: backup_file_exists

- name: Backup actual NGinX config file
  copy:
    src: "{{ nginx_config_dir }}/nginx.conf"
    dest: "{{ nginx_config_dir }}/nginx.backup.conf"
    remote_src: true
  when: not backup_file_exists.stat.exists

- name: Copy NGinX conf
  template:
    src: "nginx.conf.j2"
    dest: "{{ nginx_config_dir }}/nginx.conf"
  notify: reload_nginx

- name: Delete default vhost
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ nginx_sites_enabled }}/default"
    - "{{ nginx_sites_available }}/default"

- name: Determine available users
  getent:
    database: passwd
  register: user_info

- name: Check if NGinX user exists
  ansible.builtin.set_fact:
    user_exists: "{{ 'nginx' in ansible_facts.getent_passwd }}"

- name: Create NGinX user
  user:
    name: nginx
    comment: "Nginx web server"
    system: true
    shell: "{{ nginx_user_shell }}"
    home: "{{ nginx_user_workdir }}"
    create_home: false
  when: not user_exists

- name: Create sites_enabled folder
  file:
    path: "{{ nginx_sites_enabled }}"
    state: directory
  notify: reload_nginx

- name: Create sites_available folder
  file:
    path: "{{ nginx_sites_available }}"
    state: directory
  notify: reload_nginx

- import_tasks: locations.yml
- import_tasks: vhost_default.yml
- import_tasks: vhost_no_domain.yml

- name: Ensure NGinX is running
  service:
    name: nginx
    state: started
    enabled: true

- name: Flush handlers
  meta: flush_handlers
