- name: Update Docker
  hosts: docker
  gather_facts: true
  become: true
  serial: 1
  roles:
    - docker_update

- name: Update every package
  hosts: docker
  gather_facts: false
  serial: 2
  roles:
    - apt_upgrade

- name: Reboot if required
  hosts: docker
  gather_facts: false
  become: true
  serial: 1
  roles:
    - reboot_if_require
