- name: Generate ssh keys
  connection: local
  hosts: localhost
  gather_facts: no
  roles:
  - ssh_users_keygen

- name: Set default shell
  hosts: ssh
  gather_facts: no
  roles:
  - default_shell

- name: Create ssh accounts
  hosts: ssh
  gather_facts: no
  roles:
  - ssh_users_create
