- name: Generate ssh key
  connection: local
  hosts: localhost
  gather_facts: no
  roles:
  - ssh_user_ansible_keygen

- name: Deploy ssh key on user Ansible
  hosts: ssh
  gather_facts: no
  vars_files:
    - group_vars/ssh_init.yml
  roles:
  - ssh_user_ansible_create

- name: Test ssh connection on user Ansible
  hosts: ssh
  gather_facts: no
  roles:
  - ssh_user_test
