- name: Create users
  ansible.builtin.user:
    name: "{{ item.user }}"
    comment: "{{ item.comment }}"
    # Use '*' to disable password-based authentication while keeping the account active
    password: "*"
    groups: "{{ item.groups | default(omit) }}"
  register: users_created
  loop: "{{ ssh_users_to_create }}"
  become: true

- name: Define permission on users homes
  ansible.builtin.file:
    path: "{{ item.home }}"
    state: directory
    owner: "{{ item.name }}"
    group: "{{ item.group }}"
    mode: "0700"
  loop: "{{ users_created.results }}"
  become: true

# - name: Add users to the sudoers
#   ansible.builtin.copy:
#     dest: "/etc/sudoers.d/{{ item.user }}"
#     content: "{{ item.user }} ALL=(ALL) NOPASSWD: ALL\n"
#   loop: "{{ ssh_users_to_create | selectattr('sudoers', 'equalto', true) | list }}"
#   become: true

# - name: Remove users from the sudoers
#   ansible.builtin.file:
#     path: "/etc/sudoers.d/{{ item.user }}"
#     state: absent
#   loop: "{{ ssh_users_to_create | selectattr('sudoers', 'equalto', false) | list }}"
#   become: true

- name: Add group {{ sudoers_group }} to the sudoers
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ sudoers_group }}"
    content: "%{{ sudoers_group }} ALL=(ALL) NOPASSWD: ALL\n"
  become: true

- name: Remove users from the sudoers
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ item.user }}"
    state: absent
  loop: "{{ ssh_users_to_create | selectattr('sudoers', 'equalto', true) | list }}"
  become: true

- name: Deploy SSH keys
  ansible.posix.authorized_key:
    user: "{{ item.user }}"
    key: "{{ lookup('file', '{{ item.key_dir }}/{{ item.key_name }}.pub') }}"
    comment: "ansible@{{ inventory_hostname }}"
  loop: "{{ ssh_users_to_create | selectattr('key_dir', 'defined') | selectattr('key_name', 'defined') | list }}"
  become: true
