- name: Check if NGinX config backup file exists
  stat:
    path: "{{ nginx_config_dir }}/nginx.backup.conf"
  register: backup_file_exists

- name: Backup actual NGinX config file
  copy:
    src: "{{ nginx_config_dir }}/nginx.conf"
    dest: "{{ nginx_config_dir }}/nginx.backup.conf"
    remote_src: yes
    # state: touch
  # ignore_errors: yes
  when: not backup_file_exists.stat.exists

- name: Copy NGinX conf
  template:
    src: "nginx.conf.j2"
    dest: "{{ nginx_config_dir }}/nginx.conf"

- name: Delete default vhost
  file:
    path: "{{ item }}"
    state: absent
  with_items:
  - "{{ nginx_sites_enabled }}/default"
  - "{{ nginx_sites_available }}/default"

# - name: Check if NGinX user exists
#   getent:
#     database: passwd
#     key: nginx
#   register: user_info


- name: Determine available users
  getent:
    database: passwd
  register: user_info

# - name: Set fact when NGinX exists
#   set_fact:
#     user_exists: true
#   when: '"nginx" in item.key'
#   loop: "{{ ansible_facts.getent_passwd | dict2items }}"
# - debug:
#     var: user_info

# - name: Set fact when NGinX does not exists
#   set_fact:
#     user_exists: false
#   when: '"nginx" not in item.key'
#   loop: "{{ ansible_facts.getent_passwd | dict2items }}"

- name: Check if NGinX user exists
  set_fact:
    user_exists: "{{ 'nginx' in ansible_facts.getent_passwd }}"

- debug:
    var: user_exists

- name: Create NGinX user
  user:
    name: nginx
    comment: "Nginx web server"
    system: yes
    shell: "{{ nginx_user_shell }}"
    home: "{{ nginx_user_workdir }}"
    create_home: no
  # when: '"nginx" not in item.key'
  when: not user_exists
  # loop: "{{ ansible_facts.getent_passwd | dict2items }}"

- name: Create sites_enabled folder
  file:
    path: "{{ nginx_sites_enabled }}"
    state: directory

- name: Create sites_available folder
  file:
    path: "{{ nginx_sites_available }}"
    state: directory

- import_tasks: vhost_default.yml

- import_tasks: vhost_no_domain.yml

- name: Ensure NGinX is running
  service:
    name: nginx
    state: started
    enabled: yes

- name: Flush handlers
  meta: flush_handlers
