- name: Delete default vhost
  file:
    path: "{{ item }}"
    state: absent
  with_items:
  - "{{ nginx_sites_enabled }}/default"
  - "{{ nginx_sites_available }}/default"

- name: Add custom vhost
  template:
    src: "default.conf.j2"
    dest: "{{ nginx_sites_available }}/default.conf"
    # owner: www-data
    # group: nginx
    # mode: 0640

- name: Create custom vhost files directory
  file:
    path: "{{ nginx_default_root }}"
    state: directory
    recurse: yes
    owner: "{{ nginx_admin_user }}"
    group: "{{ nginx_process_group}}"
    mode: 0650

- name: Copy custom vhost files
  template:
    src: "index.conf.j2"
    dest: "{{ nginx_default_root }}/index.html"
    owner: "{{ nginx_admin_user }}"
    group: "{{ nginx_process_group}}"
    mode: 0650

- name: Enable custom vhost
  file:
    src: "{{ nginx_sites_available }}/default.conf"
    dest: "{{ nginx_sites_enabled }}/default.conf"
    # owner: root
    # group: nginx
    # mode: 0640
    state: link
  notify: reload_nginx
