- name: Add no host vhost
  template:
    src: "no_host.conf.j2"
    dest: "{{ nginx_sites_available }}/no_host.conf"
  notify: reload_nginx

- name: Enable no host vhost
  file:
    src: "{{ nginx_sites_available }}/no_host.conf"
    dest: "{{ nginx_sites_enabled }}/no_host.conf"
    state: link
  notify: reload_nginx
