- name: Install NFS server packages
  ansible.builtin.package:
    name: nfs-kernel-server
    state: present
  become: true

- name: Create root mountpoint
  ansible.builtin.file:
    path: "{{ nfs_export_root.path }}"
    state: directory
    owner: root
    group: root
    mode: '755'
  become: true

- name: Ensure export directories exist
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop: "{{ nfs_exports }}"
  become: true

- name: Ensure mountpoint directories exist
  ansible.builtin.file:
    path: "{{ nfs_export_root.path }}/{{ item.name }}"
    state: directory
    owner: root
    group: root
    mode: '0777'
  loop: "{{ nfs_exports }}"
  become: true

- name: Mount bind on root mountpoint
  ansible.builtin.mount:
    src: "{{ item.path }}"
    path: "{{ nfs_export_root.path }}/{{ item.name }}"
    fstype: none
    opts: bind
    state: mounted
  loop: "{{ nfs_exports }}"
  become: true

- name: Configure /etc/exports
  ansible.builtin.blockinfile:
    path: /etc/exports
    block: |
      {{ nfs_export_root.path }} {{ nfs_export_root.client_access }}({{ nfs_export_root.options }})
      {% for item in nfs_exports %}
      {{ nfs_export_root.path }}/{{ item.name }} {{ item.client_access }}({{ item.options }})
      {% endfor %}
    marker: "# {mark} ANSIBLE MANAGED NFS EXPORTS"
  become: true

- name: Apply NFS export configuration
  ansible.builtin.command: exportfs -ra
  become: true

- name: Ensure NFS server is enabled and started
  ansible.builtin.service:
    name: nfs-kernel-server
    enabled: true
    state: started
  become: true
