# - name: Install NGinX
#   apt:
#     name: nginx
#     state: present
#     cache_valid_time: 3600
#     update_cache: yes

# - name: Install NGinX on Debian-based systems
#   apt:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'Debian'

# - name: Install NGINX on Alpine Linux
#   apk:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'Alpine'

# - name: Install NGinX on Red Hat-based systems using yum
#   yum:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] < "8"

# - name: Install NGinX on Red Hat-based systems using dnf
#   dnf:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] >= "8"

# - name: Install NGinX on SUSE-based systems
#   zypper:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'Suse'

# - name: Install NGinX on Arch-based systems
#   pacman:
#     name: nginx
#     state: present
#   when: ansible_facts['os_family'] == 'Archlinux'

- name: Install NGinX
  package:
    name: nginx
    state: present

- name: Enable NGinX to start at boot
  service:
    name: nginx
    enabled: yes

- name: Ensure NGinX is running
  service:
    name: nginx
    state: started
    enabled: yes
