- name: Archive OS installation logs
  community.general.archive:
    dest: /var/log/installer.tar.gz
    path: /var/log/installer
    format: gz
    owner: root
    group: adm

- name: Delete OS installation logs
  file:
    path: /var/log/installer
    state: absent

- name: Install
  ansible.builtin.package:
    name:
      - logrotate
    state: present
