- name: APT update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: APT upgrade
  ansible.builtin.apt:
    upgrade: safe
    state: latest
  become: true

- name: APT auto-remove
  ansible.builtin.apt:
    autoremove: true
    purge: true
  become: true

- name: APT clean
  ansible.builtin.apt:
    autoclean: true
    clean: true
  become: true
