- name: APT update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: APT upgrade
  ansible.builtin.apt:
    upgrade: safe
  become: true

- name: APT auto-remove
  ansible.builtin.apt:
    autoremove: true
    purge: true
  become: true

- name: APT clean
  ansible.builtin.apt:
    clean: true
  become: true

- name: Show packages requiring reboot
  ansible.builtin.command: cat /var/run/reboot-required.pkgs
  register: reboot_pkgs
  changed_when: false
  when: reboot_required.stat.exists

- name: Notify reboot with packages
  ansible.builtin.debug:
    msg: |
      ⚠️ Reboot required on {{ inventory_hostname }}
      Packages:
      {{ reboot_pkgs.stdout }}
  when: reboot_required.stat.exists
