

- name: Get the primary network interface
  block:
    - name: Get the primary network interface
      command: ip addr
      register: ip_addr_output

    - name: Parse primary network interface
      set_fact:
        primary_interface: >-
          {{ ip_addr_output.stdout_lines | select("search", 'state UP') | map("regex_replace", '^\d+:\s*(\S+):.*', '\1') | list | first }}

- name: Get Netplan files as YAML
  block:
    - name: List files in /etc/netplan
      find:
        paths: /etc/netplan
        patterns: "*.yaml"
      register: netplan_files

    - name: Load YAML content of each Netplan file
      slurp:
        src: "{{ item.path }}"
      loop: "{{ netplan_files.files }}"
      register: netplan_file_contents

    - name: Parse YAML content into variables
      set_fact:
        parsed_netplan: >-
          {{
            parsed_netplan | default({}) |
            combine({ item.item.path: (item.content | b64decode | from_yaml) })
          }}
      loop: "{{ netplan_file_contents.results }}"

- name: Check if primary network interface has wakeOnLan disabled
  block:
  - name: Find the first file containing primary_interface
    set_fact:
      netplan_file_with_interface: "{{ item.key }}"
    with_dict: "{{ parsed_netplan }}"
    when: 
      - item.value.network.ethernets is defined
      - item.value.network.ethernets[primary_interface] is defined

  - debug:
      var: netplan_file_with_interface

  - name: Check if wakeonlan is already set
    set_fact:
      wakeonlan_defined: >-
        {{
          parsed_netplan[netplan_file_with_interface]
          .network.ethernets[primary_interface]
          .get("wakeonlan", false) == true
        }}

- name: Enable wakeOnLan on primary network interface
  when: not wakeonlan_defined
  block:
    - name: Update parsed netplan data with wakeonlan
      set_fact:
        updated_netplan: >-
          {{
            parsed_netplan | combine({
              netplan_file_with_interface: parsed_netplan[netplan_file_with_interface] | combine({
                "network": parsed_netplan[netplan_file_with_interface].network | combine({
                  "ethernets": parsed_netplan[netplan_file_with_interface].network.ethernets | combine({
                    primary_interface: parsed_netplan[netplan_file_with_interface].network.ethernets[primary_interface] | combine({
                      "wakeonlan": true
                    })
                  })
                })
              })
            })
          }}

    - name: Save the updated netplan file with beautified YAML
      copy:
        dest: "{{ netplan_file_with_interface }}"
        content: "{{ updated_netplan[netplan_file_with_interface] | to_nice_yaml }}"
