- name: Get worker token
  set_fact:
    manager_info: >
      {{
        groups['docker_managers'] | map('extract', hostvars) | selectattr('worker_token', 'defined') | first
      }}
  when: in_cluster == false

- name: Join worker to the swarm
  docker_swarm:
    join_token: "{{ manager_info.worker_token }}"
    remote_addrs: ["{{ manager_info.inventory_hostname }}:2377"]
    advertise_addr: "{{ inventory_hostname }}:4567"
    state: join
  register: manager_join_result
  when: in_cluster == false
